.adds {
  width: 100%;
}
.adds_container {
  margin-top: 35px;
}
.add_container {
  position: relative;
  padding: 20px;
  box-shadow: 0px 0px 10px rgb(230, 230, 230);
  margin-bottom: 25px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  line-height: 21px;
  white-space: pre-wrap;
}
.add_date {
  font-size: 12px;
  color: gray;
  margin-bottom: 5px;
}
.add_content {
  font-size: 15px;
}
.add_container .MuiSvgIcon-root {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  transition: 300ms all;
  color: gray;
  cursor: pointer;
}
.add_container .MuiSvgIcon-root:hover {
  color: crimson;
}
.create_add_container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: white;
}
.new_add_textarea {
  resize: none;
  outline: none;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 7px;
  width: 600px;
  height: 70px;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
