.group_activities {
  padding-top: 30px;
}
.group_activities_filter {
  width: 100%;
  padding: 0px 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(212, 212, 212);
  display: flex;
  align-items: center;
}

.group_activities {
  width: 100%;
}
