.filter {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(212, 212, 212);
}
.basic_filter {
  display: flex;
  align-items: center;
}


/* MEDIA QUERY */
@media (max-width: 600px) {
  .basic_filter {
    flex-direction: column;
    justify-content: flex-start;
  }
}
