.navbar_right {
  display: flex;
  align-items: center;
}
.navbar_link {
  text-decoration: none;
  color: white;
}
.navbar_buttons {
  display: flex;
  align-items: center;
}
.navbar_buttons .MuiSvgIcon-root {
  width: 33px;
  height: 33px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 4px;
}


/* MEDIA QUERY */
@media (max-width: 600px) {
  .navbar_buttons {
    display: none;
  }
  .show_phone_menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55px;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    padding: 20px 0px;
  }
}
